




*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--FontDefault);
    transition: 0.9s;
    cursor: pointer;
}
a:hover{
    color: rgb(60, 21, 97);
}
.fa-brands {
    transition: 0.9s;
}
.fa-brands:hover{
    color: rgb(60, 21, 97);
}


i{
    color: var(--FontDefault);
}
html{
    scroll-behavior: smooth;
    width: 100%;
}
.darkmode{
    --Background: #152B25;
    --FontDefault:  #D7FFF5;
    --Buttons: #00487C;
    --ContactBackground: #5c090909;
    --DarkBackground: rgba(0, 0, 0, 0.322);
    --TitleAbout: #04251D;
    --ColorAboutContainer: #969C94;
    --BackgroundFooter: #061927;
}

.whitemode{
    --Background: rgb(208, 211, 200);
    --FontDefault:  #020000ff;
    --Buttons: #164b91;
    --ContactBackground: #5c090909;
    --DarkBackground: rgba(0, 0, 0, 0.048);
    --TitleAbout: #04251D;
    --ColorAboutContainer: #7561616c;
    --BackgroundHeader: rgba(223, 223, 223, 0.548);
    --BackgroundFooter: #1b6ca7;
}


body{
    font-family: "Jaro", sans-serif;
    font-optical-sizing:auto;
    font-style: normal;
    background-color: var(--Background);
    color: var(--FontDefault);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden; 
}

header{
    /* position: sticky; */
    font-size: 1.8em;
    padding: 20px 20%;
    display: flex;
    background-color: var(--BackgroundHeader);
    
}

.HeaderButtons{
    padding: 0 20px;
}

#HeaderSpace{
    width: 60%;
}

.Mode{
    display: none;
}




.main{
    width: 100%;
    height: 100vh;
    background-color: var(--DarkBackground);
    background-blend-mode: multiply;
    background-image: url(imgs/Fundo2.JPG) ;
    background-repeat: no-repeat;
    background-size: cover;
}

#mainText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15% 20%;

}

#TextMain H1{
    line-height: 1em;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 6em;
    display: inline-block;
}
#TextMain H2{
    line-height: 1em;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    font-size: 2em;
}
#animatedText{
    display: inline-block;
}

#animatedText{
    height: 112px;
}

#ButtonsMain{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}
.MainButton:hover{
    transform: scale(1.1);
}
.MainButton{
    font-size: 2em;
    margin: 0px 20px;
    border-radius: 9px;
    padding: 10px 20px;
    background-color: var(--Buttons);
    transition: 0.9s;
}

#Divisoria{
    padding-left: 20%;

    position: relative;
}


#projetos{
    width: 100%;
    height: 100vh;
    padding: 2% 15%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#projetos h1{
    line-height: 1em;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 6em
}

#projetos_imgs{
    gap: 10px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    'Projeto1 Projeto2 Projeto3'
    'Projeto1 Projeto4 Projeto4';
    /* gap: 20px; */
    padding: 5% 0;
}


#projeto1{
    grid-area: Projeto1;
    background-image: url(imgs/Projeto1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#projeto2{
    grid-area: Projeto2;
    background-image: url(imgs/Projeto2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#projeto3{
    grid-area: Projeto3;
}
#projeto4{
    grid-area: Projeto4;
}
.projetoarea{
    background-color: var(--FontDefault);
    border-radius: 9px;
    transition: 0.9s;
    filter: opacity(80%);
    background-color: #ccc;
    position: relative;
    overflow: hidden;
}
.projeto-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 80%;
    text-align: center;
    background-color: #000000;
    border-radius: 8px;
}

.projetoarea:hover .projeto-texto {
    opacity: 1;
}
.projetoarea:hover{
    z-index: 2;
    transform: scale(1.1);
    background-color: #f2fffc;
    filter: opacity(100%);
    background-blend-mode: multiply;
}
/* ABOUT */
#About-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}
#About_container{
    margin: 5% 0;
    width: 60%;
    height: 70%;
    background-color: var(--ColorAboutContainer);
    border-radius: 9px;
    display: grid;
    grid-template-areas:'TitleA ImageA'
                        'TextA TextA';
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 1.5fr 1fr;
}
#TitleAbout{
    grid-area: TitleA;
    display: flex;
    justify-content: center;
    align-items: end;
}
#TitleAbout h1{

    line-height: 1em;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 6em;
    color: var(--TitleAbout);
}
#ImageAbout{
    grid-area: ImageA;
    display: flex;
    justify-content: center;
    align-items: end;
}
#ImageAbout img{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
#TextAbout{
    grid-area: TextA;
}
#TextAbout p{
    margin: 5% 5%;
    line-height: 1em;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}


.linha2{
    width: 70%;
    margin-top: 20px;
}
.linha1{
    width: 90%;
    margin-top: 50px;
}
.LinhaDivAbout{
    height: 2px;
    
    background-color: var(--FontDefault);
}
#linhas{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Skills */
#skills{
    height: 100vh;
}

#ContainerSkills{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'Space titleSkills Space2'
                        'textSkills rangeSkills spaceSkills';
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr 1fr;

                        

}
#TitleSkills{
    grid-area: titleSkills;
    display: flex;
    justify-content: center;
    align-items: center;
}
#TitleSkills h1{
    line-height: 1em;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 6em;
    
}
#TextSkills{
    grid-area: textSkills;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#BlueDetail{
    width: 32%;
    height: 80%;
    background-color: var(--Buttons);
    border-top-right-radius: 40%;
    border-bottom-right-radius: 50%;
    position:absolute;
    z-index: 0;
  
}
.BarSkillBlue{
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 9;
}

.BarSkillBlue p{
    width: 45%;
    font-size: 3em;
    font-weight: 100;
    line-height: 100px;

}
#RangeSkills{
    grid-area: rangeSkills;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.BarSkill{
    display: flex;
    align-items: center;
}
.BarSkillDiv{
    height: 0.2em;
    width: 90%;
    background-color: var(--FontDefault);
}
.BarSkillComplete{
    height: 100%;
    width: 50%;
    background-color: #4070f4;
}

.animacaoSkillBar{
    animation: progres 1s ease-in-out forwards;
}


.python{
    width: 80%;
    
}
.csharp{
    width: 40%;
}
.html{
    width: 70%;
}
.js{
    width: 50%;
}
.photoshop{
    width: 60%;
}
.linux{
    width: 30%;
}

@keyframes progres {
    0%{
        width: 0;
    }
}




#SpaceSkills{
    grid-area: spaceSkills;
}

/* Contact */
#Contact{
    width: 100%;
    height: 100vh;
    background-color: var(--ContactBackground);
    display: grid;
    grid-template-areas: 
    'Title Title'
    'Form Message';
    grid-template-rows: 1fr 3fr ;
}
#ContactTitle{
    grid-area: Title;
    display: flex;
    align-items: center;
    justify-content: center;

}
#ContactTitle h1{
    line-height: 1em;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 6em;
}
#ContactForm{
    grid-area: Form;
}
#ContactForm form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#ContactForm input[type=text], input[type=email]{
    width: 70%;
    height: 10%;
    border-radius: 9px;
    margin-bottom: 20px;
    color: var(--FontDefault);
    background-color: var(--ColorAboutContainer);
    text-align: center;
    font-size: 24px;
}
#ContactForm input[type=submit]{
    width: 30%;
    height: 75px;
    border-radius: 9px;
    margin-bottom: 20%;
    font-size: 32px;
    color: var(--FontDefault);
    background-color: var(--Buttons);
    font-family: "Jaro", sans-serif;
    font-optical-sizing:auto;

}
#ContactMessage{
    grid-area: Message;
    display: flex;
    align-items: center;
}
#ContactMessage textarea{
    width: 70%;
    height: 60%;
    border-radius: 9px;
    margin-bottom: 20%;
    color: #000000;
    background-color: var(--ColorAboutContainer);
    text-align: start;
    font-size: 24px;
    padding: 2%;
}
footer{
    height: 40vh;
    background-color: var(--BackgroundFooter);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--FontDefault);
}
#FooterLogos{
    display: flex;
    flex-direction: row;
}
#spacefooter{
    width: 20px;
}
footer p{
    font-size: 3em;
}
.fa-footer{
    font-size: 5em;
}
footer img{
    width: 50px;
    padding-bottom: 20px;
}

/* RESPONSIVIDADE */

@media (max-width: 1500px) {
    #About_container{
        height: 65%;
    }
    #TitleAbout h1{

        line-height: 1em;
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 5em;
        color: var(--TitleAbout);
    }
    .BarSkillBlue p{
        width: 40%;
        font-size: 2em;
        font-weight: 100;
        line-height: 100px;
    
    }
    #TextSkills{
        grid-area: textSkills;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
    }
    #RangeSkills{
        grid-area: rangeSkills;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
    }
    #BlueDetail{
        width: 32%;
        height: 80%;
        background-color: var(--Buttons);
        border-top-right-radius: 30%;
        border-bottom-right-radius: 50%;
        position:absolute;
        z-index: 0;
      
    }
}
@media (max-width: 1350px ){

    #SkillBlueDiv p{
        font-size: 2em;
        font-weight: 100;
        line-height: 100px;
    }
    #About_container{
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1.5fr 1fr;
    }
}


@media (max-width: 1230px ){
    header{
        padding: 0;
        font-size: 1em;
    }
    #mainText{
        font-size: 0.6rem;
    }

    #TitleAbout h1{
        line-height: 1em;
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 4em;
        color: var(--TitleAbout);
    }
    #TextAbout p{
        margin: 5% 5%;
        line-height: 1rem;
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-style:normal;
        font-size: 1.3em;
        font-weight: bold;
        color: #000000;
    }
    #projetos h1{
        padding-top: 10%;
        line-height: 1em;
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 4em
    }
    #protejos_imgs{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: 
        'Projeto1 Projeto2'
        'Projeto3 Projeto4';
        gap: 20px;
        padding: 5% 0;
    }
    /* Skills */


    #ContainerSkills{
        padding: 0 5%;
        grid-template-areas: 'titleSkills titleSkills '
                            'textSkills rangeSkills';
        grid-template-rows: 1fr 4fr;
        grid-template-columns: 1fr 1fr;

    }

    #BlueDetail{
        width: 50%;
        height: 80%;
        background-color: var(--Buttons);
        border-top-right-radius: 30%;
        border-bottom-right-radius: 50%;
        position:absolute;
        left: 0;
        z-index: 0;
    
    }

    .BarSkillBlue p{
        width: 45%;
        font-size: 2.5em;
        font-weight: 100;
        line-height: 100px;

    }
        
}
@media (max-width: 1000px){
    #TitleAbout h1{
        line-height: 1em;
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 3em;
        color: var(--TitleAbout);
    }
    #TextMain H1{
            line-height: 1em;
            font-family: "Karla", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 5em;
            display: inline-block;
    }
    #TextMain H2{
        line-height: 1em;
        font-family: "Karla", sans-serif;
        font-optical-sizing: auto;
        font-weight: lighter;
        font-style: normal;
        font-size: 2em;
    }
    #About_container{
        height: 60%;
    }

}

@media (max-height: 900px){
    #About_container{
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1.5fr 1fr;
    }
    #TextAbout p{
        font-size: 1em;
    }
    #ContactTitle h1{
        font-size: 3em;
    }
    #projetos h1{
        font-size: 3em;
    }
    
}
@media (max-height: 750px){
    #About_container{
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1.5fr 1fr;
    }
    #TextAbout p{
        font-size: 0.8em;
    }
    .BarSkillBlue p{
        width: 45%;
        font-size: 2em;
        font-weight: 100;
        line-height: 100px;

    }
    #TextSkills{
        grid-area: textSkills;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
        
    }
    #RangeSkills{
        grid-area: rangeSkills;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    }
    .BarSkillBlue p {
        line-height: 100%;
    }
}
@media (max-height: 750px){
    #BlueDetail{
        width: 45%;
        height: 32%;
        background-color: var(--Buttons);
        border-top-right-radius: 30%;
        border-bottom-right-radius: 50%;
        position:absolute;
        left: 0;
        z-index: 0;
    
    }
}

@media (max-width: 600px){
    #TextAbout p{
        font-size: 0.6em;
    }
    .BarSkillBlue p{
        width: 45%;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 100%;

    }
    #TitleAbout h1{
        font-size: 2em;
    }
    #projetos h1{
        font-size: 2em;
    }
    footer p{
        font-size: 2em;
    }
    .fa-footer{
        font-size: 3em;

    }
}
@media (max-width: 500px){
    #TextMain{
        color: white;
    }
    #TextMain H1{
        font-size: 4em;
    }
    #ContactTitle h1 {
        font-size: 2.2em;
    }
    #TitleSkills h1 {
        font-size: 2.2em;
    }
    footer p{
        font-size: 1em;
    }
    .fa-footer{
        font-size: 2em;

    }
    .BarSkillBlue p {
        width: 80%;
    }
    .main{
        background-color: rgba(0, 0, 0, 0.781);
        background-image: url(imgs/image\ 3.png);
    }
    #mainText{
        padding: 10% 15%;
    }
    .hederleft{
        display: none;
    }
    #ButtonsMain{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .MainButton{
        display: flex;
        margin: 5% 0%;
        width: 40%;
        height: 20%;
        align-items: center;
        justify-content: center;

    }
    #projetos{
        padding: 0 5%;
    }
    #protejos_imgs{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas: 
        'Projeto1  Projeto1'
        'Projeto2 Projeto3'
        'Projeto4 Projeto4';
        gap: 20px;
        padding: 5% 0;
    }

    #Divisoria img{
        width: 50px;
    }
    #About_container {
        width: 90%;
    }
    #Contact {
        width: 100%;
        height: 100vh;
        background-color: var(--ContactBackground);
        display: grid;
        grid-template-areas:
            'Title Title'
            'Form Form'
            'Message Message';
        grid-template-rows: 1fr 1fr 1fr; 
        padding: 30% 0;
    }
    #ContactMessage{
        justify-content: center;
    }
    #ContactForm input[type=submit] {
        width: 20%;
        height: 20%;
        border-radius: 9px;
        margin-bottom: 20%;
        font-size: 1em;
        color: var(--FontDefault);
        background-color: var(--Buttons);
        font-family: "Jaro", sans-serif;
        font-optical-sizing: auto;
    }
}

/* A section inicialmente está invisível */
.secoes {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Classe que será aplicada ao aparecer */
.secoes-visible {
    opacity: 1;
    transform: translateY(0);
}